<header>
  <h1>Application Template</h1>
</header>
<nav>
  {{#link-to 'users'}}Users{{/link-to}}
</nav>
<nav>
  {{#link-to 'items'}}Items{{/link-to}}
</nav>
<main>
  {{outlet}}
</main>
<footer>
  <h2>Application Footer</h2>
</footer>
