<h1>Items</h1>
<div class="some-dropdown">
  <a href="#" class="some-dropdown-button">mr droppy</a>
</div>
{{#c-box title="Example Box"}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus, facilis dolor dolorem cumque libero eius! Cum quidem consequuntur consequatur veritatis laborum optio suscipit ullam ea incidunt, unde labore doloribus.</p>
{{/c-box}}
{{outlet}}
