<h2>Items</h2>
{{#c-box}}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus, facilis dolor dolorem cumque libero eius! Cum quidem consequuntur consequatur veritatis laborum optio suscipit ullam ea incidunt, unde labore doloribus.</p>
{{/c-box}}
{{outlet}}
